# Ignore node_modules
node_modules/

# Ignore build output
build/

# Ignore package-lock.json (optional)
package-lock.json

# Ignore environment files
.env

# Ignore other build-related files
*.log
dist/
*.bak

# Ignore IDE-specific files (optional)
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore specific files
.architect
bootstrap.css
bootstrap.js
bootstrap.json
bootstrap.jsonp
classic.json
classic.jsonp
ext/
resources/sass/.sass-cache/
resources/.arch-internal-preview.css
.arch-internal-preview.css
